.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}
.flex-direction-column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-space-between {
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.align-self-stretch {
  align-self: stretch;
}

.text-decoration {
  text-decoration: none;
}

.text-underline {
  text-decoration: underline;
}

.text-nowrap {
  white-space: nowrap;
}

.text-decoration-none {
  text-decoration: none
}

.overflow-x-auto {
  overflow-x: auto;
}
.overflow-hidden {
  overflow: hidden;
}

.height-full {
  height: 100%;
}

.text-center {
  text-align: center;
}

.current-color {
  color: currentColor;
}
